<!-- Importing page header -->
<%- include('./shared/head.ejs') %>
<!-- style for individual page -->
<link rel="stylesheet" href="/css/index.css" />

<!-- closing header and Navbar -->
<%- include('./shared/navExtended.ejs') %>

<section id="index">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card indexContent">
          <div class="col-md-6 col-lg-7 p-4">
            <h2>Learning Express</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- closing body -->
<%- include('./shared/footer.ejs') %>
